<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="TechPro Kitchen - ضوء التقنية"
        android:icon="@drawable/techlight_mark"
        android:roundIcon="@drawable/techlight_mark"
        android:banner="@drawable/tv_banner"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".KitchenActivity" android:exported="false" />
        <activity android:name=".KitchenActivityV2" android:exported="false" />
        <activity android:name=".KitchenLoginActivity" android:exported="false" />
        <activity
            android:name=".KitchenLoginActivityV3"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".KitchenActivityV3"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".KitchenBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
